/* Space on top of the main title */
h1 {
  padding-top: 100px;
}

/* Space on top of titles of level 2 and 3 */
h2, h3 {
    padding-top: 84px;
}

/* Link font color */
a {
    color: #69b3a2;
}

/* TOC color (left border and font color) */
.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid #69b3a2;
    color: #69b3a2 !important;
}

/* No rounded corners for callouts */
.callout {
    border-radius: 0
}

/* Make the "Show code" buttons very discrete (size and transparency) */
details > summary {
    font-size: 12px;
    opacity: .5;
}